body {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-image: url(/images/backgroundBlack.jpg);
}
.header__index {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  .logo {
    margin-top: 15px;
    margin-left: 15px;
    width: 150px;
  }
  .nav__index {
    display: flex;
    justify-content: space-evenly;

    li {
      padding-left: 5px;
      padding-right: 5px;
      color: white;
      list-style: none;
      a {
        font-size: 20px;
        color: white;
        text-decoration: none;
      }
    }
  }

  .nav-item {
    list-style: none;
  }
}
.link__color {
  color: lightslategrey;
}

.inputBusqueda {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10%;
  #buscador {
    width: 600px;
    height: 30px;
    border: none;
    border-radius: 5%;
  }
}
#listado {
  margin-left: 10%;
  p {
    font-size: 25px;
    color: white;
    margin-top: 5%;
    text-align: center;
  }
}
.productos {
  display: grid;
  grid-template-columns: 33% 33% 33%;

  .producto {
    margin-top: 10%;
    ul {
      list-style: none;
      li {
        width: 50%;
        font-size: 20px;
        color: white;
        text-align: center;
      }
    }
  }
}
.imagen__producto {
  margin-top: 10%;
  margin-bottom: 4%;
  border: 2px solid black;
  width: 50%;
  height: 300px;
}

.footer__index {
  margin-top: 10%a;
}

/*-------------------------------------------------------------------------------------------------------------------*/

/*Botones*/
#botonBuscador {
  margin-left: 1%;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #24292e;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  :hover {
    background-color: #f3f4f6;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
  }
}

.botonComprar {
  button {
    margin-top: 10px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #24292e;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
      rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    :hover {
      background-color: #f3f4f6;
      border-color: #1b1f2326;
      transition-duration: 0.1s;
    }
  }
}

.botonProducto {
  display: flex;
  justify-content:space-between;
  .boton {
    margin-top: 10%;

    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    
  }
  .boton:hover {
    background-color: #ff9100;
    box-shadow: 0px 15px 20px rgba(255, 187, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .boton:active {
    transform: translateY(-1px);
  }
}
/*-------------------------------------------------------------------------------------------------------------------*/

//Button Carrito

/*-------------------------------------------------------------------------------------------------------------------*/

/*Titulo*/

.titulo {
  padding-top: 10%;
  text-align: center;
  margin-left: 37%;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #747474 0%,
    #ffffff 29%,
    #a7a7a7 67%,
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 30px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.imagen__producto {
  -webkit-box-shadow: 6px 6px 57px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 57px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 57px -3px rgba(0, 0, 0, 0.75);
}
