body {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-image: url(/images/background.jpg);
}

.header__index {
  display: flex;
  align-items: center;
}
.header__index .logo {
  width: 200px;
}
.header__index .nav__index {
  display: flex;
  justify-content: space-evenly;
  margin-left: 70%;
}
.header__index .nav__index li {
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  list-style: none;
}
.header__index .nav__index li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.link__color {
  color: lightslategrey;
}

.inputBusqueda {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10%;
}
.inputBusqueda #buscador {
  width: 600px;
  height: 30px;
  border: none;
  border-radius: 5%;
}

#listado p {
  font-size: 25px;
  color: white;
  margin-top: 5%;
  text-align: center;
}

.productos {
  display: flex;
  justify-content: center;
}
.productos .producto {
  margin-top: 10%;
}
.productos .producto ul {
  list-style: none;
}
.productos .producto ul li {
  font-size: 20px;
  color: white;
  text-align: center;
}

.imagen__producto {
  margin-top: 10%;
  border: 2px solid black;
  width: 300px;
  height: 300px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*Botones*/
#botonBuscador {
  margin-left: 1%;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #24292e;
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.1490196078);
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}
#botonBuscador :hover {
  background-color: #f3f4f6;
  border-color: rgba(27, 31, 35, 0.1490196078);
  transition-duration: 0.1s;
}

.botonComprar button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #24292e;
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.1490196078);
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}
.botonComprar button :hover {
  background-color: #f3f4f6;
  border-color: rgba(27, 31, 35, 0.1490196078);
  transition-duration: 0.1s;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*Titulo*/
.titulo {
  text-align: center;
  margin-left: 37%;
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #747474 0%, #ffffff 29%, #a7a7a7 67%, #ffffff 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 2s linear infinite;
          animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 30px;
}

@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}/*# sourceMappingURL=main.css.map */