body {
  width: 100%;
  height: 100%;
  background: #16a085; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f4d03f,
    #16a085
  ); 
  background: #2b5876; 
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); 
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  );
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin-left: 5px;
  margin-right: 5px;
  list-style: none;
  color: white;
  font-size: 25px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gatito {
  width: 50%;
  padding-top: 4%;
}

footer{
    color: white;
    margin-top: 5%;
}
